// vars for menubar
$menuWidth: 70px;
$menuMobileHeight: 70px;


// var for content
$marginContent: 70px;

// screens resolution
$smallScreen: 619px;
$mediumScreen: 830px;

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG"),
   url(~static/fonts/Graphic-LCG/GraphikLCG-Extralight.ttf) format("truetype");
}
